<h1>Angular Forms</h1>
<form #greetingForm="ngForm" (submit)="displayGreeting(greetingForm, greetingInput)">
  <input type="text"
    placeholder="Who are you?"
    [(ngModel)]="greeting"
    name="greeting"
    required 
    #greetingInput="ngModel" 
    [notIn]="['Bob']"/>
    <!--<pre>
    dirty: {{greetingInput.dirty}}
    pristine: {{greetingInput.pristine}}
    touched: {{greetingInput.touched}}
    untouched: {{greetingInput.untouched}}
    {{ greetingInput.errors | json }}
  </pre>-->
    <p *ngIf="greetingInput.hasError('required') && greetingInput.dirty">
  Name is required
</p>
<p *ngIf="greetingInput.hasError('notIn') && greetingInput.dirty">
  Name is forbidden
</p>
    <button [disabled]="greetingForm.invalid" type="submit">Submit</button>
</form>
<p *ngIf="displayedGreeting">
  Hello {{ displayedGreeting }}
</p>



